<div class="table-container">
    <table class="table is-fullwidth is-bordered is-narrow">
        <%= for row <- Enum.reverse(@tiles) do %>
            <tr>
                <%= for tile <- row do %>
                    <td class="<%=tile_class(tile) %>" style="text-align: center">
                      <%= raw tile_content(tile) %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
